{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container py-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="text-primary fw-bold">
      <i class="fa-solid fa-chart-line me-2"></i>Panel de Gerencia
    </h2>
  </div>

  <div class="row g-4">
    <!-- Card Departamentos -->
    <div class="col-md-4">
      <div class="card shadow-sm border-0 rounded-4 h-100">
        <div class="card-body text-center">
          {% csrf_token %}
          <i class="fa-solid fa-map-marker-alt fa-3x text-primary mb-3"></i>
          <h5 class="fw-bold">Departamentos</h5>
          <!--Contar departamentos registrados-->
          <p class="text-muted">Total de departamentos: {{ departamentos.count }}</p>

          <p class="text-muted">Gestione sus registros.</p>
          <a href="{% url 'gerencia:listar_departamentos' %}" class="btn btn-outline-primary btn-sm">
            <i class="fa-solid fa-eye me-2"></i>Ver lista
          </a>
        </div>
      </div>
    </div>

    <!-- Card Distritos -->
    <div class="col-md-4">
      <div class="card shadow-sm border-0 rounded-4 h-100">
        <div class="card-body text-center">
          <i class="fa-solid fa-map fa-3x text-success mb-3"></i>
          <h5 class="fw-bold">Distritos</h5>
          <p class="text-muted">Administre los distritos asociados.</p>
          <a href="{% url 'gerencia:listar_distritos' %}" class="btn btn-outline-success btn-sm">
            <i class="fa-solid fa-eye me-2"></i>Ver lista
          </a>
        </div>
      </div>
    </div>

    <!-- Card Colonias -->
    <div class="col-md-4">
      <div class="card shadow-sm border-0 rounded-4 h-100">
        <div class="card-body text-center">
          <i class="fa-solid fa-tractor fa-3x text-warning mb-3"></i>
          <h5 class="fw-bold">Colonias</h5>
          <p class="text-muted">Consulte o agregue colonias territoriales.</p>
          <a href="{% url 'gerencia:listar_colonias' %}" class="btn btn-outline-warning btn-sm">
            <i class="fa-solid fa-eye me-2"></i>Ver lista
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
