
<!-- Nav Item - Quick Actions -->
<li class="nav-item mx-1">
    <a class="nav-link" href="#" 
       title="Nueva solicitud" data-bs-toggle="tooltip" data-bs-placement="bottom">
        <i class="fas fa-plus-circle me-1"></i>
        <span class="d-none d-lg-inline">Colonia</span>
    </a>
</li>
<li class="nav-item mx-1">
    <a class="nav-link" href="#" 
       title="Nueva solicitud" data-bs-toggle="tooltip" data-bs-placement="bottom">
        <i class="fas fa-plus-circle me-1"></i>
        <span class="d-none d-lg-inline">Solicitud</span>
    </a>
</li>
<li class="nav-item mx-1">
    <a class="nav-link" href="#" 
       title="Nueva solicitud" data-bs-toggle="tooltip" data-bs-placement="bottom">
        <i class="fas fa-plus-circle me-1"></i>
        <span class="d-none d-lg-inline">Objetivo</span>
    </a>
</li>