<!-- === admin_sidebar.html (menú de administradores) === -->
<li class="nav-item">
  <a class="nav-link" href="{% url 'gerencia:gerente_dashboard' %}">
    <i class="fas fa-tachometer-alt me-2 text-primary"></i>
    <span class="justify-content-center">Panel de Gerencia</span>
  </a>
</li>

<hr class="sidebar-divider">

<div class="sidebar-heading text-uppercase small px-3">
  Gerencia
</div>

<hr class="sidebar-divider">

<div class="sidebar-heading text-uppercase small px-3">
  Módulos
</div>
<!-- sidebar.html -->
<div class="sidebar">
  <div class="sidebar-brand">
    <div class="sidebar-brand-icon">
      <i class="fas fa-map-marked-alt"></i>
    </div>
    <div class="sidebar-brand-text">SRT</div>
  </div>

  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active"  title="Panel de Control" data-bs-toggle="tooltip" href="{% url 'gerencia:gerente_dashboard' %}">
        <i class="fas fa-tachometer-alt"></i>
        <span>Panel de Control</span>
      </a>
    </li>

    <div class="sidebar-heading">
      <i class="fas fa-chart-line me-1"></i>Gestión de Gerencia
    </div>
    
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseUsers" aria-expanded="false" aria-controls="collapseUsers" title="Gestión de Gerencia">
        <i class="fas fa-map-marked-alt"></i>
        <span>Datos Geográficos</span>
      </a>
      <div id="collapseUsers" class="collapse">
        <div class="collapse-inner">
         
          <a class="collapse-item" href="{% url 'gerencia:listar_departamentos' %}">
             <i class="fas fa-map-marker-alt me-1"></i>
            Departamentos</a>
          <a class="collapse-item" href="{% url 'gerencia:listar_distritos' %}">
            <i class="fas fa-city me-1"></i>
            Distritos</a>
          <a class="collapse-item" href="{% url 'gerencia:listar_colonias' %}">
            <i class="fas fa-tree-city me-1"></i>
            Colonias</a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#GerenciaTarget" aria-expanded="false" aria-controls="collapseUsers" title="Gestión de Gerencia">
        <i class="fa-solid fa-list-check"></i>
        <span>Area de Trabajo</span>
      </a>
      <div id="GerenciaTarget" class="collapse">
        <div class="collapse-inner">
          <a class="collapse-item" href="#">
            <i class="fas fa-chart-pie me-1"></i>
            Ver Objetivos</a>
          <a class="collapse-item" href="#">
            <i class="fas fa-clipboard-list me-1"></i>
            Ver Solicitudes</a>
          <a class="collapse-item" href="#">
            <i class="fas fa-chart-bar me-1"></i>
            Ver Relevamientos</a>
        </div>
      </div>
      
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#" title="Configuración">
        <i class="fas fa-cogs"></i>
        <span>Configuración</span>
      </a>
    </li>
  </ul>

  <button id="sidebarToggle">
    <i class="fas fa-angle-double-right"></i>
  </button>
</div>

<!-- content wrapper -->
<div id="content-wrapper">
  {% block content %}
  {% endblock %}
</div>