<!-- Modal Crear Departamento -->
<div class="modal fade modal-primary" id="crearDeptoModal" tabindex="-1" aria-labelledby="crearDeptoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form method="post" action="{% url 'gerencia:crear_departamento' %}">
      {% csrf_token %}
      <div class="modal-content">
        <!-- Encabezado -->
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title" id="crearDeptoModalLabel">
            <i class="fas fa-plus-circle me-2"></i> Crear Nuevo Departamento
          </h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>

        <!-- Cuerpo -->
        <div class="modal-body">
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre del Departamento</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
          </div>
 
        </div>

        <!-- Footer -->
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">
            <i class="fas fa-times me-1"></i> Cancelar
          </button>
          <button type="submit" class="btn btn-outline-primary">
            <i class="fas fa-save me-1"></i> Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

