<!-- Modal Eliminar Departamento -->
<div class="modal fade modal-danger" id="eliminarDeptoModal" tabindex="-1" aria-labelledby="eliminarDeptoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content shadow-lg border-0">
      <div class="modal-header text-white">
        <h5 class="modal-title fw-bold" id="eliminarDeptoModalLabel">
          <i class="fas fa-triangle-exclamation me-2"></i> Confirmar Eliminación
        </h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form method="post" id="eliminarDeptoForm" action="">
        {% csrf_token %}
        <div class="modal-body">
          <p class="fs-5 mb-2">¿Estás seguro que deseas eliminar el Departamento <strong id="DeptoNombreEliminar"></strong>?</p>
          <p class="text-danger fw-semibold mb-0 text-center"><strong>Esta acción no se puede deshacer.</strong></p>
        </div>

        <div class="modal-footer border-0 justify-content-between">
          <button type="button" class=" btn btn-outline-warning" data-bs-dismiss="modal">
            <i class="fas fa-xmark me-1"></i> Cancelar
          </button>
          <button type="submit" class="btn btn-outline-danger">
            <i class="fas fa-trash-alt me-1"></i> Eliminar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  // Modal Eliminar Departamento
      const eliminarDeptoModal = document.getElementById('eliminarDeptoModal');
      eliminarDeptoModal.addEventListener('show.bs.modal', function (event) {
          const button = event.relatedTarget;
          const departamentoId = button.getAttribute('data-departamentoid');
          const departamentoNombre = button.getAttribute('data-departamentonombre');

          const form = eliminarDeptoModal.querySelector('#eliminarDeptoForm');
          form.action = `{% url 'gerencia:eliminar_departamento' 0 %}`.replace('0', departamentoId);
          document.getElementById('DeptoNombreEliminar').textContent = departamentoNombre;
      });
</script>
