{% extends "base.html" %}
{% load static %}

{% block title %}Gestión de Departamentos{% endblock %}

{% block content %}
<div class="container-fluid fade-in">
    <div class="d-sm-flex align-items-center mb-4">
        <h1 class="h3 mb-0 text-gray-800">
          <i class="fas fa-map-marker-alt me-3"></i>Gestión de Departamentos</h1>
    </div>

    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="deptoTable" width="100%" cellspacing="0">
                    <thead class="table-light">
                        <tr >
                            <th class="text-center">Codigo</th>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Acciones
                              <button class="btn btn-sm btn-primary bg-primary" title="Agregar Departamento" data-bs-toggle="modal" data-bs-target="#crearDeptoModal">
                                  <i class="fas fa-plus me-1"> <i class="fas fa-map-marker-alt"> </i></i> 
                              </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for departamento in departamentos %}
                        <tr class="text-center">
                            <td class="text-alert">{{departamento.codigo }}</td>
                            <td class="text-uppercase">{{departamento.nombre }}</td>
                            
                            <td class="text-center">
                                <!-- Botón editar -->
                                <button 
                                    class="btn btn-sm me-1 btn-warning" 
                                    data-bs-toggle="modal"
                                    data-bs-target="#editarDeptoModal"
                                    data-departamentoid="{{ departamento.id }}"
                                    data-departamentocodigo="{{ departamento.codigo }}"
                                    data-departamentonombre="{{ departamento.nombre }}"
                                    data-bs-toggle="tooltip"
                                    title="Editar Departamento">
                                    <i class="fas fa-edit"></i>
                                </button>

                                <!-- Botón eliminar -->
                                {% if not departamento.distritos.exists %}
                                <button 
                                    class="btn btn-sm me-5 btn-danger"
                                    data-bs-toggle="modal"
                                    data-bs-target="#eliminarDeptoModal"
                                    data-departamentoid="{{ departamento.id }}"
                                    data-departamentonombre="{{ departamento.nombre }}"
                                    data-bs-toggle="tooltip"
                                    title="Eliminar Departamento">
                                    <i class="fas fa-trash-alt"></i>
                                </button> 
                                {% else %}
                                <button class="btn btn-sm btn-danger me-5" disabled 
                                        data-bs-toggle="tooltip" 
                                        title="No se puede eliminar: Departmamento en uso">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                                {% endif %}
                                <button class="btn btn-sm btn-warning " title="Agregar Distrito" data-bs-toggle="modal" data-bs-target="#crearDttoModal">
                                    <i class="fas fa-plus"></i>
                                    <i class="fas fa-city"></i>
                                </button>
                            </td>

                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4" class="text-center">No hay Departamentos registrados</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modales -->
{% include 'includes/gerencia/modal/departamentos/crear_departamento_modal.html' %}
{% include 'includes/gerencia/modal/departamentos/editar_departamento_modal.html' %}
{% include 'includes/gerencia/modal/departamentos/eliminar_departamento_modal.html' %}



{% endblock %}

{% block scripts %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
      new simpleDatatables.DataTable('#deptoTable', {
          perPage: 10,
          labels: {
              placeholder: "Buscar...",
              perPage: "Registros por página",
              noRows: "No se encontraron Departamentos registrados",
              info: "Mostrando {start} a {end} de {rows} Departamentos"
          }
      });
   
  });

  // Inicializar tooltips para los botones de acción en la tabla
  document.querySelectorAll('[data-bs-toggle="tooltip"]').forEach(el => {
      new bootstrap.Tooltip(el);
  });
</script>

{% endblock %}
